project:
  type: website
  output-dir: docs

website:
  title: "My Brand"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: blog.qmd
        text: Blog
      - href: presentation.qmd
        text: Presentation
      - href: presentation_video.qmd
        text: First Presentation Video

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



