/* css styles */

figure figcaption {
  text-align: center;
}

.highlight-red {
  color: #e53935;
  font-weight: bold;
}

.reveal .slides section .fragment.highlight-current-blue.current-fragment {
  color: #1976d2;
}

.reveal .slides section .fragment.highlight-current-red.current-fragment {
  color: #d32f2f;
}

.reveal h2 {
  color: #0d47a1;
}

.reveal strong {
  color: #1565c0;
}